<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
  {{ partial "head" . }}
</head>
{{ partial "google" . }}

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Image -->
    {{ if .Site.Params.visual.image.enable }}

      <div class="split-image" id="split-media">

      </div>

    <!-- Video -->
    {{ else if .Site.Params.visual.video.enable }}

      {{ partial "video" . }}

    {{ end }}

    <!-- Content Side -->
    <div class="split-content">
      <div id="episodelist" class="split-content-vertically-center">
        <div class="logo-overlay"></div>
        <!-- Header / menu links -->
        <!-- Intro -->
        {{ partial "episode-intro" . }}
        <!-- Main -->
        {{ block "main" .  }}
          <!-- Bio -->
          {{ partial "bio" . }}
        {{ partial "episode-transcript" . }}
        {{ partial "episode_time_meta" . }}
        {{ partial "episode-prev-next" . }}
        {{ partial "iframe" . }}
        {{ partial "episode-select" . }}
        {{ end }}
        <!-- Podcast / social links defined on config.toml -->
        {{ partial "links" . }}
        <!-- Navigation links -->
        {{ partial "navigation" . }}
        <!-- Footer -->
        {{ partial "footer" . }}
      </div>
    </div>
  </div>
</body>
</html>
