{{ define "main" }}
<main>
<div class="podcast-episode">
    <article>
        <header>
        </header>
        {{ .Content }}
    </article>
<div class="episodelist">
    <ol class="episodes">
        {{ range sort .Pages "Date" }}
        {{ $episodeNumber := index ( findRE `([1-9]+\d*)$` .Params.Title ) 0 }}
        <li value="{{ $episodeNumber }}">
            <div class="episode-item" title="{{ dateFormat "02 Jan 2006" .Params.date }} - {{ .Params.tagline }}">
                <a href="{{ .RelPermalink }}">{{ .Params.tagline }}</a>
            </div>
        </li>
    {{ end }}
    </ol>
</div>
</div>
</main>
{{ end }}
