/* Override the defaults for this theme */
.split-bio {
    font-family: "Filson Pro", Inter, Helvetica, Arial, sans-serif;
}
.split-bio a {
    border-bottom: none;
}

.breadcrumb ol {
  padding-left: 0;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li:not(:last-child)::after {
  content: "»";
}

.split-content-vertically-center {
    padding: 0px;
    width: 100%;
}
.split-content-vertically-center div {
    touch-action: pan-y;
}

/* Re-style link blocks properly */
.split-lists {
    display: flex;
    justify-content: center;
}
.split-lists .split-list {
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 10px;
    width: 100%;
}
.split-list ul {
    padding: 0;
    margin-left: 0;
    list-style: none;
}

.split-list li {
    margin-left: 0;
    display: flex;
    align-items: center;
}

/* List 3 has custom icons as bullets */
.split-list .split-list-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding-left: 20px;
}
.split-list .split-list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 13px;
    height: 13px;
    background-image: url('/img/podcast.svg');
    background-size: cover;
}

.split-list#list3 .split-list-item::before {
    background-image: url('/img/insta.svg');
}

/* Looks like ass under 1400px wide */
@media (max-width: 1400px) {
    .split-list#list2 {
        display: none;
    }
}

/* End split list styling */

/* Navbar */
.navlist {
    margin-right: 20px;
    height: 1.5em;
}
.navigation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.navigation-inner {
    align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul {
    display: flex;
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
}

.navigation li:not(:last-child)::after {
  content: "|";
  color: #8a8c8e;
  opacity: 0.3;
  margin-left: 15px;
}

.transcript-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transcript-episode,
.episode-transcript {
    font-size: 0.9rem;
    text-align: center;
}

.topnav a,
.episode-transcript a,
.transcript-episode a {
    color: #b1b3b6;
}
.topnav a:hover,
.episode-transcript a:hover,
.transcript-episode a:hover {
    color: #8a8c8e;
}

.episode-transcript a::before,
.transcript-episode a::before {
    content: "▶";
    margin-right: 10px;
    opacity: 0.0;
    transition: opacity 0.3s;
}
.episode-transcript a:hover::before,
.transcript-episode a:hover::before {
    opacity: 1.0;
}

.transcript-episode .missing,
.episode-transcript .missing {
    font-style: italic;
}

.speakerID {
    font-weight: bold;
    display: block;
}

.episode-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.episode-selector select {
    flex: 1;
    box-sizing: border-box;
    background-color: #9780bb;
    color: #3f2a5a;
    padding: 10px;
    border: 1px solid #8a8c8e;
    font-family: "Filson Pro", Montserrat, sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 10px;
    max-width: 75%;
    width: 75%;
}
.episode-selector select:hover {
    border-color: #dcddde;
}
.episode-selector select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.episode-selector select::-ms-expand {
    display: none;
}
.episode-selector select::after {
  content: '\25BC'; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.episode-selector select#episode-select option {
    color: #ab94c6;
}
.episode-selector select option[selected]{
    color: #848d96;
    pointer-events: none;
}
hr#episode-selector-bottom {
    padding: 10px;
    margin-top: 20px;
}

/* Episode selector (navigation only */
.episode-prev-next {
    max-width: 100%;
}
.prev-next {
    display: flex;
    justify-content: space-between;
}

.episode-prev-next .prev-next .item {
    font-size: 0.8rem;
}
.episode-prev-next .prev-next .item#previous {
    margin-left: 10px;
}
.episode-prev-next .prev-next .item#next {
    margin-right: 10px;
}

.episode-prev-next .prev-next .item a {
    color: #b1b3b6;
    position: relative;
}

.episode-prev-next .prev-next .item .episode-unavailable {
    font-style: italic;
    color: #848d96;
    opacity: 0.3;
}


.episode-prev-next .prev-next .item a::before {
    content: "▶";
    width: 20px; /* Fixed width for the arrow */
    text-align: center; /* Center the arrow horizontally */
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px; /* Adjust the right distance as needed */
    transition: opacity 0.3s;
}

.episode-prev-next .prev-next .item a:hover::before {
    opacity: 1.0;
}

.episode-prev-next .prev-next .item#previous,
.episode-prev-next .prev-next .item#previous a::before {
    content: "◀";
}
.episode-prev-next hr {
    opacity: 0.3;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* end episode selector bits */
.navigation li {
    margin: 0;
    font-size: 0.7em;
}

.navigation li a {
    color: #dcddde;
}

.navigation li a::before {
    content: "▶";
    margin-right: 10px;
    opacity: 0.0;
}

.navigation li a:hover::before {
    content: "▶";
    margin-right: 10px;
    opacity: 0.5;
}

.navigation li a:active {
    text-decoration: underline;
}

.navigation a#current::before {
    content: "▶";
    margin-right: 10px;
    opacity: 0.5;
    color: #4e386d;
}
.navigation a#current {
    pointer-events: none;
    color: #876ea7;
}
ol li {
    list-style: number;
}

@media screen and (max-width: 1100px) {
    .navigation {
        width: 100%;
    }

    .navigation li {
        margin: 0
        padding: 4px;
        font-size: 0.6em;
    }

    .episode-transcript a::before,
    .navigation a#current::before {
        content: ">";
        margin-right: 10px;
        margin-left: 5px;
        color: #47bec7;
    }

    .navigation li a::before,
    .navigation li a:hover::before {
        content: ">";
        margin-right: 10px;
        color: #47bec7;
    }
    .episode-prev-next .prev-next .item#next,
    .episode-prev-next .prev-next .item#next a::before {
        content: ">";
        color: #47bec7;
    }
    .episode-prev-next .prev-next .item#previous,
    .episode-prev-next .prev-next .item#previous a::before {
        content: "<";
        color: #47bec7;
    }


}
/* end navbar */

.latest-episode-to-detail {
    padding-top: 10px;
}

.listenonspotify,
.mostrecentepisode {
    opacity: 0.6;
    padding-bottom: 1.5rem;
}
.podcast-embed-homepage {
    margin-top: 20px;
}
.podcast-episode .split-bio a {
    border-bottom: none;
}
.podcast-episode p,
.podcast-episode ul {
    font-size: 0.9em;
    text-align: justify-all;
}

/* Paragraphs in the podcast summary may have multiple
headings, so space them out a bit more nicely.
 */
.split-content-vertically-center#episodelist .split-bio p {
    padding-bottom: 0.6em;
}

.podcast-episode h2 {
    padding-top: 20px;
    font-size: 0.9em;
    font-weight: bold;
}
.podcast-episode .split-intro h2 {
    font-size: 0.8em;
    margin-top: 20px;
}

.podcast-episode .split-intro h3 {
    margin-top: 20px;
    font-size: 0.7em;
}

.podcast-episode h3 {
    font-size: 0.8em;
    font-family: "Filson Pro", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
}
.podcast-episode h4 {
    font-size: 0.7em;
    font-weight: bold;
}

.episodelist,
.transcriptlist {
    margin: 20px 0px 20px 30px;
    width: 100%;
}
/*#episodelist > div.split-intro > h2 {*/
/*    font-size: 2rem;*/
/*}*/

.baseurl a,
.episode-link a,
.transcriptlist a,
.episodelist a,
.disclaimer a {
    color: #b1bdb6;
    text-decoration: none;
}

.episode-prev-next .prev-next .item a:hover,
.navigation li a:hover,
.baseurl a:hover,
.episode-link a:hover,
.episodelist a:hover,
.transcriptlist a:hover,
.disclaimer a:hover {
    text-decoration: none;
    color: #8a8c8e;
}

.episodes,
.transcripts {
    list-style-type: disc;
}

hr.episodemeta-separator {
    opacity: 0.2;
    color: #878d96;
}
hr#top.episodemeta-separator {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
hr#bottom.episodemeta-separator {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.episodemeta-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
table.episode-meta-table {
    border-collapse: collapse;
    font-size: 0.7rem;
    line-height: 15px;
    border-spacing: 0px;
}

.episode-meta-table table,
.episode-meta-table tr {
    display: inline-block;
    margin-right: 10px;
}
table.episode-meta-table td.heading {
    padding-right: 10px;
}

table.episode-meta-table thead {
    font-width: bold;
    text-align: center;
    display: none;
}
table.episode-meta-table tr {
    line-height: 1.2rem;
}

table.episode-meta-table tr.release-pending {
    font-style: italic;
    text-align: center;
}

/* Embed spotify iFrame */

.podcast-embed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}
.embed-container {
    text-align: center;
    width: 100%;
}
.embed-inner {
    display: block;
    margin: 0 auto;
}

.listenonspotify {
}

.podcast-embed iframe {
    width: 90%;
    border-radius: 10px;
    height: 100px;
    overflow: hidden;
    border: none;
 }

/* end iFrame */

.split-credit {
    opacity: 0.4;
    font-size: 14px;
    padding-top: 15px;
}
.split-credit p {
    padding-top: 5px;
}

.baseurl,
.episode-link {
    font-size: 0.8em;
}
.episode-link a {
    cursor: pointer;
}

.disclaimer {
    opacity: 0.8;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
}


body > div > div.split-content > div > div.split-bio > p {
    padding: 10px 0px 10px 0px;
}

/* CC License */
#transcript > div.split-bio {
    padding: 0px;
}
.creative-commons {
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    margin: 20px 0px 0px 0px;
    color: #848d96;
    word-spacing: normal;
}
.creative-commons hr {
    color: #848d96;
    margin-bottom: 10px;
    margin-top: 10px;
}
.creative-commons a {
    color: #848d96;
    align-items: center;
    text-decoration: none;
    display: inline-block;
}
.creative-commons img {
    border-width:0;
    vertical-align: middle;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.creative-commons .ccborder {
    padding: 0px 15px;
    transition: background-color 1.5s, color 1.5s;
    border: 1px solid #b1b3b6;
    border-radius: 5px;
}
.creative-commons .ccborder p {
    margin-top: 10px;
}

.creative-commons .outline#licensebox {
    border: 2px solid #47bec7;
    color: #3f2a5a;
    background-color: #dcddde;
}
.creative-commons .outline#licensebox a {
    color: #3f2a5a;
}

img:focus {
    outline: none;
}
.creative-commons a:hover {
    color: #b1b3b6;
}
.creative-commons a:focus {
    outline: none;
}

.creative-commons#license-short {
    height: 31px;
}

.topnav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
}
.topnav-separator {
    margin: 20px 0 30px 0;
    opacity: 0.3;
}
.topnav-inner {
    font-size: 0.7em;
    padding-bottom: 10px;
}

/* Only for mobile / portrait */
.logo-overlay {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background-size: contain;
    background: url('/mobile-bg.png') no-repeat center;
    margin: 0 auto;
    z-index: 1;
    opacity: 0.04;
    pointer-events: none;
}

/* Blend the logo into the background in mobile */
@media screen and (max-width: 768px) and (orientation: portrait) {
    body, html {
        margin: 0;
        padding: 0;
    }
    .split-content-vertically-center {
        position: relative;
    }
    .logo-overlay {
        display: block;
    }
}
@media screen and (max-width: 768px) {

    .episodemeta-flex {
        display: none;
    }

    .navigation ul li#transcriptlist {
        display: none;
    }

}
