{{/*
  This sets up the lightboxed link.
  Episode shorcode needs the part after
  https://embed.podcasts.apple.com/us/podcast/.......
*/}}
{{- $embedApple := . }}
{{- with $embedApple }}
  {{- $appleURL := printf "https://embed.podcasts.apple.com/us/podcast/%s" $embedApple }}
<div class="applepodcast lightboxed">
  <div class="applepodcast-inner">
    <a href="{{ $appleURL }}" target="_blank">
      <img src="{{ "img/apple-podcasts.svg" | relURL}}" alt="Listen on Apple Podcasts" />
    </a>
  </div>
</div>
{{- end }}