<div class="contactform">
  <div class="modal" id="submission-result">
    <div class="submission-content">
      <p>Processing...</p>
      <button id="close-result">Close</button>
    </div>
  </div>
  <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/myyqjbye" method="post">
  <fieldset id="fs-frm-inputs">
  <div id="name">
    <label for="full-name">Your Name</label>
    <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
  </div>
  <div id="email-address">
    <label for="email-address">Email Address</label>
    <input type="email" name="_replyto" id="email-address" placeholder="email@example.com" required="">
  </div>
  <div id="message">
    <label for="message">Message</label>
    <textarea rows="5" name="message" id="message" placeholder="What would you like to tell us?" required=""></textarea>
  </div>
  <div id="hiddenbits">
    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
    <input type="text" required="required" id="g-recaptcha-response" name="g-recaptcha-response" placeholder="potato">
  </div>
  </fieldset>
  <div class="submit-button-outer">
    <div class="submit-button-inner">
      <input type="submit" class="btn btn-primary" value="Submit"/>
    </div>
  </div>
</form>
</div>
<script type="text/javascript" src="{{ "js/formspree-form.js" | relURL }}"></script>