<style>
@font-face {
    font-family: 'Filson Pro';
    src: url('{{ "font/FilsonPro-BoldItalic.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-BoldItalic.woff" | relURL }}') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('{{ "font/FilsonPro-Light.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-Light.woff" | relURL }}') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('{{ "font/FilsonPro-BlackItalic.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-BlackItalic.woff" | relURL }}') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('{{ "font/FilsonPro-Regular.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-Regular.woff" | relURL }}') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('{{ "font/FilsonPro-Heavy.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-Heavy.woff" | relURL }}') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('{{ "font/FilsonPro-ThinItalic.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-ThinItalic.woff" | relURL }}') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro Book';
    src: url('{{ "font/FilsonPro-Book.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-Book.woff" | relURL }}') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('{{ "font/FilsonPro-Thin.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-Thin.woff" | relURL }}') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('{{ "font/FilsonPro-Bold.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-Bold.woff" | relURL }}') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro Book';
    src: url('{{ "font/FilsonPro-BookItalic.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-BookItalic.woff" | relURL }}') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('{{ "font/FilsonPro-RegularItalic.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-RegularItalic.woff" | relURL }}') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('{{ "font/FilsonPro-Black.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-Black.woff" | relURL }}') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('{{ "font/FilsonPro-HeavyItalic.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-HeavyItalic.woff" | relURL }}') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('{{ "font/FilsonPro-LightItalic.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-LightItalic.woff" | relURL }}') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('{{ "font/FilsonPro-Medium.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-Medium.woff" | relURL }}') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Pro';
    src: url('{{ "font/FilsonPro-MediumItalic.woff2" | relURL }}') format('woff2'),
        url('{{ "font/FilsonPro-MediumItalic.woff" | relURL }}') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
</style>