<div class="episode-prev-next">
  <div class="prev-next">
    <div class="item" id="previous">
      {{- with .PrevInSection }}
        {{- $title := printf "[Ep %s] %s: %s" ( trim .Params.episode "0" ) .Title .Params.tagline }}
        <a href="{{ .RelPermalink }}" title="{{ $title }}">Previous</a>
      {{- else }}
        <div class="episode-unavailable" title="At the earliest episode">Previous</div>
      {{- end }}
    </div>
    {{- partial "episode-select" . }}
    <div class="item" id="next">
      {{- with .NextInSection }}
      {{- $title := printf "[Ep %s] %s: %s" ( trim .Params.episode "0" ) .Title .Params.tagline }}
        <a href="{{ .RelPermalink }}" title="{{ $title }}">Next</a>
      {{- else }}
        <div class="episode-unavailable" title="At the latest episode">Next</div>
      {{- end }}
    </div>
  </div>
  <hr>
</div>
