<h1>License Information</h1>

<p>This website's content, including podcast and podcast transcripts, is made available under the terms of the <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener noreferrer">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>

<p><strong>What does this license mean?</strong></p>

<p><em>Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License (CC BY-NC-SA 4.0)</em> allows you to:</p>

<ul>
  <li><strong>Share</strong>: Copy and redistribute the material in any medium or format.</li>
  <li><strong>Adapt</strong>: Remix, transform, and build upon the material.</li>
</ul>

<p>Under the following terms:</p>

<ul>
  <li><strong>Attribution (BY)</strong>: You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.</li>
  <li><strong>Non-Commercial (NC)</strong>: You may not use the material for commercial purposes.</li>
  <li><strong>ShareAlike (SA)</strong>: If you remix, transform, or build upon the material, you must distribute your contributions under the same license as the original.</li>
</ul>

<p><strong>Additional Information:</strong></p>

<p>For more detailed information about the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License, please visit the official license page at <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener noreferrer">http://creativecommons.org/licenses/by-nc-sa/4.0/</a>.</p>

<p>If you have any questions or require further permissions beyond the scope of this license, please <a href="mailto: podcast@cancerandcrossfit.com">contact us</a>.</p>
