{{/*
  Embed spotify and/or apple podcast iFrame if defined in
  episode topmatter.
*/}}
{{- $spotifyURL   := .Params.urlSpotify }}
{{- $appleURL     := .Params.urlApple   }}
{{- if or .Params.embedSpotify .Params.embedApple }}
  {{- $embedSpotify := .Params.embedSpotify }}
  {{- $embedApple   := .Params.embedApple }}
<div class="podcast-embed">
  Listen to this episode:
  <div class="embedded-players">
  {{- if and .Params.appleEpisode .Params.embedApple }}
    {{- partial "apple" ( dict "episode" .Params.appleEpisode "embed" .Params.embedApple ) }}
  {{- end }}
  {{- if .Params.spotifyEpisode }}
    {{- partial "spotify" ( dict "episode" .Params.spotifyEpisode ) }}
  {{- end }}
  </div>
</div>
{{- end }}