<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- SEO -->
<title>{{ if .IsPage }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
{{ with .Site.Params.author }}<meta name="author" content="{{ . }}" />{{ end }}
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}" />{{ end }}
<meta name="robots" content="index, follow" />
<meta name="referrer" content="always" />

<!-- Social & Open Graph -->
<meta property="og:title" content="{{ if .IsPage }}{{ .Title }} - {{ end }}{{ .Site.Title }}" />
{{ with .Site.Params.description }}<meta property="og:description" content="{{ . }}" />{{ end }}
<meta property="og:url" content="{{ .Site.BaseURL }}" />
{{ with .Site.Params.shareImage }}
<meta property="og:image" content="{{ . | relURL }}" />
<meta name="twitter:card" content="summary_large_image" />
{{ end }}
{{ with .Site.Params.twitterHandle }}<meta name="twitter:site" content="@{{ . }}" />{{ end }}

<!-- Favicon -->
{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . | relURL }}" />{{ end }}

<!-- Styles -->
<link rel="stylesheet" href="{{ "assets/css/split.css" | relURL }}" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ "css/podcast.css" | relURL }}" type="text/css" media="screen" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<style>
  @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
</style>
<link rel="stylesheet" href="/css/lightbox.css">
{{ partial "customfont" . }}
{{ if .Site.Params.custom.css.enable }}
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" type="text/css" media="screen" />
{{ end }}
{{ partial "favico" . }}
<!-- Image Styles -->
{{ if .Site.Params.visual.image.enable }}
  <style>
  {{ if .Site.Params.visual.image.file }}
    .fs-split .split-image {
      width: 100%;
      height: 100%;
      max-width: 40%;
      margin: 0 auto;
      background-image: url("{{ .Site.Params.visual.image.file | relURL }}");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: {{ if .Site.Params.visual.image.position }}{{ .Site.Params.visual.image.position }}{{ else }}center center{{ end }};
      display: flex;
      align-items: center;
      justify-content: center;
    }
  {{ end }}
  </style>
<script type="text/javascript" src="{{ "js/lightbox.js" | relURL }}"></script>
{{ if or (eq .Section "contact") (in .RelPermalink "contact") }}
<link rel="stylesheet" href="{{ "css/contactform.css" | relURL }}" type="text/css" media="screen" />
<script src="https://www.google.com/recaptcha/api.js?render={{ .Site.Params.recaptcha.sitekey }}"></script>
<script type="text/javascript">
  grecaptcha.ready(function () {
    grecaptcha.execute('{{ .Site.Params.recaptcha.sitekey }}', {action: 'submit'}).then(function (token) {
      console.log("got token: " + token);
      document.getElementById('g-recaptcha-response').value = token;
    });
  });
</script>
{{ end }}
{{ end }}

