{{/*
  Embed a track directly from spotify in the current screen
  Just needs the track id (get from the embed link)
  eg: 0lMk95xQZtrTDFZGvXvqnU
  src="https://open.spotify.com/embed/track/0lMk95xQZtrTDFZGvXvqnU"
*/}}
{{ $link := .Get "track" }}
{{ $title := .Get "title" | default "Listen to song on Spotify" }}
{{ with $link }}
  {{ $spotifyURL := printf "https://open.spotify.com/track/%s" $link }}
  {{ $embedURL   := printf "https://open.spotify.com/embed/track/%s" $link }}
  <a class="lightbox-media" media-type="spotify-track" embed-url="{{ $embedURL }}" href="{{ $spotifyURL }}" target="_blank">{{ $title }}</a>
{{ end }}