{{/*
    Embed a video in the current screen (thanks to lightbox.js)
*/}}

{{ $video := .Get "video" | default "" }}
{{ $start := .Get "start" | default "0" }}
{{ $end := .Get "end" | default "" }}
{{ $title := .Get "title" | default "Watch Video" }}
{{ $params := safeHTMLAttr `target="_blank" class="lightbox-youtube gallery" rel="noopener"` }}


{{ with $video }}
  {{ $youtubeURL := printf "https://www.youtube.com/watch?v=%s" $video }}
  <a href="{{ $youtubeURL }}" target="_blank" startsec="{{ $start }}" endsec="{{ $end }}" data-id="{{ $video }}">{{ $title }}</a>
{{ else }}
  <!-- Handle the case when 'video' parameter is missing or empty -->
  <p>Error: 'video' parameter is missing or empty.</p>
{{ end }}