/* Override the defaults for this theme */
.split-bio {
    font-family: Inter, Helvetica, Arial, sans-serif;
}

.podcast-episode p,
.podcast-episode ul {
    font-size: 0.9em;
    text-align: justify-all;
}

.podcast-episode h2 {
    font-size: 1.1em;
    font-weight: bold;
}

.podcast-episode .split-intro h1 {
    font-size: 0.7em;
}
.podcast-episode h3 {
    font-size: 1.3em;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.podcast-episode h4 {
    font-size: 1.0em;
    font-weight: bold;
}

.episodelist {
    margin: 10px;
}
.episode-link a,
.episodelist a,
.disclaimer a {
    color: #848d96;
}

.episode-link a:hover,
.episodelist a:hover,
.disclaimer a:hover {
    color: #CCCCCC;
}

.episodes li {
    padding: 10px;
    list-style: square;
}

.podcast-embed {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    border: none;
}

.embed-inner {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}

.split-credit {
    opacity: 0.4;
    font-size: 14px;
}

.episode-link {
    font-size: 0.8em;
}
.episode-link a {

}

.disclaimer {
    opacity: 0.8;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
}
